In [2]:
import pandas as pd

# All CSV paths
all_r1_path = '../../Prepared_Data/cc_download_R1.csv'
all_r2_path = '../../Prepared_Data/cc_download_R2.csv'
ccihe_path = '../../Prepared_Data/CCIHE2021-PublicData.csv'
rankings_path = '../../Prepared_Data/rankings.csv'

# Read all the files into pandas dataframes
r1_df = pd.read_csv(all_r1_path)
r2_df = pd.read_csv(all_r2_path)
ccihe_df = pd.read_csv(ccihe_path)
rankings_df = pd.read_csv(rankings_path)

In [5]:
for df in [r1_df, r2_df, ccihe_df, rankings_df]:
    for key in df.keys():
        print(key)

unitid
name
city
state
level
control
Undergraduate Program
Graduate Program
Enrollment Profile
Undergraduate Profile
Size & Setting
Basic
Community Engagement
146 results for  Basic = 'Doctoral Universities: Very High Research Activity'
unitid
name
city
state
level
control
Undergraduate Program
Graduate Program
Enrollment Profile
Undergraduate Profile
Size & Setting
Basic
Community Engagement
133 results for  Basic = 'Doctoral Universities: High Research Activity'
unitid
name
city
stabbr
basic2000
basic2005
basic2010
basic2015
basic2018
basic2021
ipug2021
ipgrad2021
ugprofile2021
enrprofile2021
sizeset2021
cce2020
obereg
sector
iclevel
control
pset4flg
locale
landgrnt
medical
hbcu
tribal
hsi
msi
womens
coplac
cusu
cumu
assocdeg
baccdeg
mastdeg
docrsdeg
docppdeg
docothdeg
totdeg
serd
nonserd
pdnfrstaff
facnum
socsc_rsd
hum_rsd
stem_rsd
oth_rsd
drsas
drsprof
ogrdas
ogrdprof
asbadeg
profbadeg
asc2crtc
asc2trns
fallenr19
anenr1920
fallenr20
fallfte20
ugtenr20
grtenr20
ugdsft20
ugdspt20
ugndft20
ugndpt20
grft20
grpt20
ugn1sttmft20
ugn1sttmpt20
ugntrft20
ugntrpt20
stdmixratio
progmixratio
numcip2
lrgstcip2_1
lrgstcip2_2
lrgstcip2_degs
pctlrgst
ugcip4pr
grcip4pr
coexpr
pctcoex
docresflag
maxgpeduc
maxgpbus
maxgpoth
ngcip2pxdr
ngcip2dr
rooms
nsat
nact
satv25
satm25
satcmb25
actcmp25
satacteq25
actfinal
appsf20
admitsf20
pctadmitf20
selindex
Institution
Rank_earned_doct
Percentile_earned_doct
Rank_full_time_grad
Percentile_full_time_grad
Rank_tot_rd
Percentile_tot_rd
Rank_research_space
Percentile_research_space

In [14]:
r1_r2_df = pd.concat([r1_df, r2_df], axis=0, keys=['R1', 'R2']).reset_index(level=[0]).rename(columns={'level_0': 'research_level'})

In [16]:
r1_r2_df.name

0      Arizona State University Campus Immersion
1                              Auburn University
2                              Baylor University
3                          Binghamton University
4                                 Boston College
                         ...
128                  Western Michigan University
129                     Wichita State University
130                               William & Mary
131              Worcester Polytechnic Institute
132          Wright State University-Main Campus
Name: name, Length: 279, dtype: object

In [19]:
rankings_df.Institution

0                                           A.T. Still U.
1                                    Abilene Christian U.
2                                              Adelphi U.
3                                          Agnes Scott C.
4                       Air Force Institute of Technology
                              ...
1098    The population of reporting institutions and l...
1099            For more information see Technical notes.
1100    Tied institutions are ranked alike and listed ...
1101    Unallocated in an institution name indicates f...
1102                                         institution.
Name: Institution, Length: 1103, dtype: object

In [20]:
rankings_df

,Institution,Rank_earned_doct,Percentile_earned_doct,Rank_full_time_grad,Percentile_full_time_grad,Rank_tot_rd,Percentile_tot_rd,Rank_research_space,Percentile_research_space
0,A.T. Still U.,0.0,0.0,305.0,44.6,779.0,85.8,0.0,0.0
1,Abilene Christian U.,0.0,0.0,396.0,57.7,425.0,47.2,545.0,93.5
2,Adelphi U.,279.0,62.6,255.0,37.4,531.0,58.8,0.0,0.0
3,Agnes Scott C.,0.0,0.0,0.0,0.0,823.0,90.6,0.0,0.0
4,Air Force Institute of Technology,262.0,58.8,218.0,32.1,214.0,24.2,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1098,The population of reporting institutions and l...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1099,For more information see Technical notes.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1100,Tied institutions are ranked alike and listed ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1101,Unallocated in an institution name indicates f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1102,institution.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
rankings_df.Institution = [v.replace('C.', 'College').replace('U.', 'University') for v in rankings_df.Institution]

AttributeError: 'float' object has no attribute 'replace'

In [26]:
'Adelphia U.' in rankings_df.Institution

False

In [31]:
any(rankings_df.Institution.str.contains('Adelphia U.'))

True

In [32]:
'my' + 'dog'

['mydog']

In [38]:
mymatrix = [[1, 2, 3],[4, 5, 6]]

In [40]:
for dim_1 in mymatrix:
    for i in dim_1:
        print(i)

1
2
3
4
5
6

In [42]:
rankings_df.Institution == 'Adelphi U.'

0       False
1       False
2        True
3       False
4       False
        ...
1098    False
1099    False
1100    False
1101    False
1102    False
Name: Institution, Length: 1103, dtype: bool

In [43]:
dog = [1, 2, 3, 4]
del dog[1, 2]

TypeError: list indices must be integers or slices, not tuple

In [49]:
rankings_df.iloc[[100, 2, 3, 500]]

,Institution,Rank_earned_doct,Percentile_earned_doct,Rank_full_time_grad,Percentile_full_time_grad,Rank_tot_rd,Percentile_tot_rd,Rank_research_space,Percentile_research_space
100,"CUNY, Graduate School of Public Health and Hea...",0.0,0.0,0.0,0.0,312.0,34.9,0.0,0.0
2,Adelphi U.,279.0,62.6,255.0,37.4,531.0,58.8,0.0,0.0
3,Agnes Scott C.,0.0,0.0,0.0,0.0,823.0,90.6,0.0,0.0
500,Norfolk State U.,372.0,83.2,457.0,66.4,435.0,48.3,384.0,66.2

In [50]:
mylist = [1]

In [51]:
mylist.append(3)

In [52]:
mylist

[1, 3]